<ion-header>
  <ion-toolbar> 
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>มอบหมายงานส่ง</ion-title>
    <!-- <ion-buttons slot="primary" *ngIf="dataallarray.length>0">
      <ion-button (click)="submitForm()">
        <ion-icon slot="icon-only" src="./assets/icons/save.svg"></ion-icon>
      </ion-button>
    </ion-buttons> -->
  </ion-toolbar>
</ion-header>
<form [formGroup]="ionicForm" novalidate>
  <ion-grid fixed>
    <ion-row> 
      <ion-col>
        <ion-item>
          <ion-label class="showlabel" position="floating">ค้นหาวันที่นัดรับ</ion-label>
          <ion-input formControlName="txtserach" readonly [liIonic4Datepicker]="datePickerObj" type="text"></ion-input>
          <span class="error" *ngIf="isSubmitted && errorControl.txtserach.errors?.required">
            กรุณาระบุ คำค้นหา
          </span>
        </ion-item>
      </ion-col>
      <ion-col>
        <ion-button [disabled]="ionicForm.invalid" (click)="SearchData(0)" expand="block" shape="round">
          ค้นหาข้อมูล
        </ion-button>
      </ion-col>
      <ion-col>
        <ion-button (click)="SearchJustSend(0)" expand="block" shape="round">
          ค้นหาข้อมูลที่รอส่ง
        </ion-button>
      </ion-col>
    </ion-row>
    <ion-row class="content_alert" *ngIf="ionicForm.controls['typeserch_id'].value !== '9'">
      <ion-col>
        พบข้อมูลที่ค้นหา จำนวน {{maxdatalimit}} ข้อมูล
      </ion-col>
    </ion-row>
  </ion-grid>
</form>
<ion-content>
  <div>
    <ion-searchbar placeholder="ค้นหา..." [(ngModel)]="filterTerm" animated="true"></ion-searchbar>
    <ion-card *ngFor="let c of data  | filter:filterTerm;index as i">
      <ion-row>
        <ion-col>
          <ion-item>
            <!-- <ion-checkbox  color="dark"  (click)="selectData(i,data[i],c.status_checked)" [disabled]="c.disable_checked" [(ngModel)]="c.status_checked" slot="start"></ion-checkbox> -->
            <label class="showlabelheader">วันที่นัดรับ</label>&nbsp;&nbsp;&nbsp;&nbsp; <label>{{ c.po_recivedate }}</label> 
            <ion-button fill="outline" slot="end" color="success" (click)="View(c.po_recivedate)">ดูรายละเอียดวันที่นัดรับ</ion-button>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-item>
            <label class="showlabelheader"> ทั้งหมด</label>&nbsp;&nbsp;&nbsp;&nbsp; <label>{{ c.countall }}</label>&nbsp;&nbsp;&nbsp;&nbsp;  <label class="showlabelheader">รายการ</label>
          </ion-item>
        </ion-col> 
        <ion-col>
          <ion-item>
            <label class="postatus_alert"> รอส่ง</label>&nbsp;&nbsp;&nbsp;&nbsp; <label>{{ c.countjustsend }}</label>&nbsp;&nbsp;&nbsp;&nbsp; <label class="postatus_alert">รายการ</label>
          </ion-item>
        </ion-col>
        <ion-col>
          <ion-item>
            <label class="showlabelheader2"> กำลังส่ง</label>&nbsp;&nbsp;&nbsp;&nbsp; <label>{{ c.countgoingsend }}</label>&nbsp;&nbsp;&nbsp;&nbsp;   <label class="showlabelheader2">รายการ</label>
          </ion-item>
        </ion-col>
        <ion-col>
          <ion-item>
            <label class="showlabel"> สำเร็จ</label>&nbsp;&nbsp;&nbsp;&nbsp; <label>{{ c.countsussend }}</label>  &nbsp;&nbsp;&nbsp;&nbsp;  <label class="showlabel">รายการ</label>
          </ion-item>
        </ion-col>
      </ion-row>
    </ion-card>
    <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
      <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Loading more data...">
      </ion-infinite-scroll-content>
    </ion-infinite-scroll>
  </div>
</ion-content>
