<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
     </ion-buttons>
    <ion-title>ข้อมูล ตัวเลข(ข้อมูลสี)</ion-title>
    <ion-buttons slot="primary">
      <ion-button (click)="report()">
        <ion-icon slot="icon-only" src="./assets/icons/printer.svg"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="primary">
      <ion-button (click)="refreshForm()">
        <ion-icon slot="icon-only" src="./assets/icons/refresh.svg"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="primary">
      <ion-button (click)="submitForm()">
        <ion-icon slot="icon-only" src="./assets/icons/save.svg"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<form [formGroup]="ionicForm" novalidate>
  <ion-grid fixed>
    <ion-row>
      <ion-col>
        เลขที่ระบบ <input type="text" formControlName="id" disabled class="IDnoshowBG">
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col > 
        <ion-item>
        <ion-label class="showlabel" position="floating">สี</ion-label>
        <ion-input formControlName="color" type="text"></ion-input>
        <span class="error" *ngIf="isSubmitted && errorControl.color.errors?.required">
          กรุณาระบุ สี
        </span>
      </ion-item>
    </ion-col>
    <ion-col > 
      <ion-item>
      <ion-label class="showlabel" position="floating">อักษรย่อ</ion-label>
      <ion-input formControlName="color_acronym" type="text"></ion-input>
      <span class="error" *ngIf="isSubmitted && errorControl.color_acronym.errors?.required">
        กรุณาระบุ อักษรย่อ สี
      </span>
    </ion-item>
  </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <p>แนบรูปภาพสินค้า <input type="file" (change)="fileUpload_img($event)" id="file-input"
            style="position:absolute; top: -999999px" #fileIngimg>
          <button ion-button (click)="onClick_fileUpload()">Upload</button>
          <div>
            <div style="display: inline-block;" *ngFor="let img of picpreview">
              <ion-img style="width: 100px; height: 100px;" [src]="img.url"></ion-img>
              <ion-button (click)="delImg(img.id)">
                <ion-icon slot="icon-only" size="small" name="trash"></ion-icon>
              </ion-button>
            </div>
          </div>
          <p>
      </ion-col> 
    </ion-row>
  </ion-grid>
</form>
<ion-content>
  <div scrollY="true" id="myFixZone">
    <ion-searchbar placeholder="ค้นหา..." [(ngModel)]="filterTerm" animated="true"></ion-searchbar>
    <ion-list>
      <div class="content_alert">**จะลบได้ก็ต่อเมื่อ ยอดคงเหลือทั้งหมดเท่ากับ 0</div>
      <ion-item-sliding *ngFor="let c of data  | filter:filterTerm" [ngClass]="c.highlight ? 'newdata': ''"
        (click)="selectData(c.id)">
        <ion-item>
          <ion-label>
            <ion-text color="primary">
              <h3>สี : {{ c.color }}</h3>
              <h3>อักษรย่อ : {{ c.color_acronym }}</h3>
            </ion-text>
          </ion-label>
          <ion-badge slot="end" color="success">{{ c.id }}</ion-badge>
        </ion-item>
        <ion-item-options>
          <ion-item-option  (click)="addData(c.id,c.color)">
            <ion-icon slot="end" name="add"></ion-icon>
            เพิ่มตัวเลข
          </ion-item-option>
          <ion-item-option *ngIf="c.number_qty==0" color="danger" (click)="cancelData(c.id)">
            <ion-icon slot="end" name="trash"></ion-icon>
            ลบ
          </ion-item-option>
        </ion-item-options>
      </ion-item-sliding>
    </ion-list>
    <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
      <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Loading more data...">
      </ion-infinite-scroll-content>
    </ion-infinite-scroll>
  </div>
</ion-content>
