<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>สรุปงานส่ง</ion-title>
  </ion-toolbar>
</ion-header>
<form [formGroup]="ionicForm" novalidate>
  <ion-grid fixed>
    <ion-row>
       <ion-col >
        <ion-item>
          <ion-label class="showlabel" position="floating" >ประเภทการส่ง</ion-label>
          <ionic-selectable
            interface="floating"
            item-content
            formControlName="typeserch_id"
            itemValueField="id"
            itemTextField="typeserch"
            [items]="portssearch"
            [canSearch]="true" 
            closeButtonText="ยกเลิก"
            (onChange)="portChange($event)"
            >
          </ionic-selectable>
          <span class="error" *ngIf="isSubmitted && errorControl.typeserch_id.errors?.required">
            กรุณาระบุ ประเภทการส่ง
          </span>
        </ion-item> 
      </ion-col> 
    </ion-row> 
    <ion-row *ngIf="typeserch===0">
      <ion-col>
        <ion-item> 
          <ion-label class="showlabel" position="floating">วันที่มอบหมาย</ion-label>
          <ion-input  formControlName="txtserach" readonly [liIonic4Datepicker]="datePickerObj" type="text"></ion-input>
         
          <!-- <span class="error" *ngIf="isSubmitted && errorControl.txtserach.errors?.required">
            กรุณาระบุ วันที่มอบหมาย
          </span> -->
        </ion-item>
      </ion-col>
      <ion-col>
        <ion-item> 
          <ion-label class="showlabel" position="floating">ถึง วันที่มอบหมาย</ion-label>
        <ion-input  [disabled]="ionicForm.controls.txtserach.invalid" formControlName="txtserach1" readonly [liIonic4Datepicker]="datePickerObj" type="text"></ion-input>
        </ion-item>
      </ion-col>    
      <ion-col>
          <ion-button [disabled]="ionicForm.invalid" (click)="SearchData(0)" expand="block"
          shape="round">
          สรุปข้อมูลก่อนส่ง
        </ion-button>
      </ion-col> 
    </ion-row>
    <ion-row *ngIf="typeserch===1">
      <ion-col>
        <ion-item> 
          <ion-label class="showlabel" position="floating">วันที่ส่ง</ion-label>
          <ion-input  formControlName="txtserach_send" readonly [liIonic4Datepicker]="datePickerObj" type="text"></ion-input>
         
          <!-- <span class="error" *ngIf="isSubmitted && errorControl.txtserach_send.errors?.required">
            กรุณาระบุ วันที่มอบหมาย
          </span> -->
        </ion-item>
      </ion-col>
      <ion-col>
        <ion-item> 
          <ion-label class="showlabel" position="floating">ถึง วันที่ส่ง</ion-label>
        <ion-input  [disabled]="ionicForm.controls.txtserach_send.invalid" formControlName="txtserach1_send" readonly [liIonic4Datepicker]="datePickerObj" type="text"></ion-input>
        </ion-item>
      </ion-col>    
      <ion-col>
          <ion-button [disabled]="ionicForm.invalid" (click)="SearchData_Send(0)" expand="block"
          shape="round">
          สรุปข้อมูลหลังส่ง 
        </ion-button>
      </ion-col> 
    </ion-row>
    <!-- <ion-row class="content_alert">
      <ion-col>
        พบข้อมูลที่ค้นหา จำนวน  {{data.length}}{{data_tf.length}} ข้อมูล
      </ion-col>
    </ion-row> -->
  </ion-grid> 
</form>
<ion-content>
  <ion-card *ngFor="let c of data ;index as i">
    <ion-item>
      <ion-row> <ion-label> <u class="showlabel">วันที่มอบหมาย:</u> {{ c.transferdate }}</ion-label> </ion-row>
    </ion-item>
    <ion-item>
      <ion-row>
        <ion-col size="50%"> <ion-label> <u class="showlabel">ประเภทการส่ง:</u> {{ c.shipping_desc }}</ion-label>  </ion-col>
        <ion-col size="50%">  <ion-label> <u class="showlabel">จำนวน:</u> {{c.count_po}}  ชิ้น </ion-label>   </ion-col>
      </ion-row>
    </ion-item>
    <ion-item *ngIf="c.emp_detail?.length > 0">
      <ion-row *ngFor="let cc of c.emp_detail;let ii = index;">
        <ion-col size="50%"> <ion-label> <u class="showlabel">คนส่ง:</u>{{cc.name}} </ion-label></ion-col>
        <ion-col size="50%"><ion-label> <u class="showlabel">จำนวน:</u>{{cc.count_po}} ชิ้น </ion-label>   </ion-col>
      </ion-row>
    </ion-item>
   
  </ion-card>
  <ion-item *ngIf="data.length>0">
    <ion-col>
      <ion-button  (click)="get_report(data,'before')" expand="block" shape="round"  color="success">
      ออกรายงานก่อนส่ง
    </ion-button>
  </ion-col>
  </ion-item>

  <ion-card *ngFor="let c of data_tf ;index as i">
    <ion-item>
      <ion-row> <ion-label> <u class="showlabel">วันที่ส่ง:</u> {{ c.transferdate }}</ion-label> </ion-row>
    </ion-item>
    <ion-item>
      <ion-row>
        <ion-col size="50%"> <ion-label> <u class="showlabel">ประเภทการส่ง:</u> {{ c.shipping_desc }}</ion-label>  </ion-col>
        <ion-col size="50%">  <ion-label> <u class="showlabel">จำนวน:</u> {{c.count_po}}  ชิ้น </ion-label>   </ion-col>
      </ion-row>
    </ion-item>
    <ion-item *ngIf="c.emp_detail?.length > 0">
      <ion-row *ngFor="let cc of c.emp_detail;let ii = index;">
        <ion-col size="50%"> <ion-label> <u class="showlabel">คนส่ง:</u>{{cc.name}} </ion-label></ion-col>
        <ion-col size="50%"><ion-label> <u class="showlabel">จำนวน:</u>{{cc.count_po}} ชิ้น </ion-label>   </ion-col>
      </ion-row>
    </ion-item>
  </ion-card>
  <ion-item *ngIf="data_tf.length>0">
    <ion-col>
      <ion-button  (click)="get_reporttf(data_tf,'after')" expand="block" shape="round"  color="success">
      ออกรายงานหลังส่ง
    </ion-button>
  </ion-col>
  </ion-item>
</ion-content>
