<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
     </ion-buttons>
    <ion-title>ข้อมูลส่วนตัว</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content> 
  <form [formGroup]="ionicForm" novalidate>
    <ion-list>
      <ion-list-header>
        <h3>ข้อมูลส่วนตัว</h3>
      </ion-list-header>
      <ion-item>
        <ion-label class="showlabel" position="floating">คำนำหน้าชื่อ</ion-label>
        <ion-select interface="popover" formControlName="prefix_name"  >
          <ion-select-option value="นาย">นาย</ion-select-option>
          <ion-select-option value="นาง">นาง</ion-select-option>
          <ion-select-option value="นางสาว">นางสาว</ion-select-option>
        </ion-select>
        <span class="error" *ngIf="isSubmitted && errorControl.prefix_name.errors?.required">
          กรุณาระบุ คำนำหน้าชื่อ
        </span>
      </ion-item>
      <ion-item>
        <ion-label class="showlabel" position="floating">ชื่อ</ion-label>
        <ion-input formControlName="name" type="text"  ></ion-input>
        <span class="error" *ngIf="isSubmitted && errorControl.name.errors?.required">
          กรุณาระบุ ชื่อ
        </span>
      </ion-item>
        <ion-item>
          <ion-label class="showlabel" position="floating">นามสกุล</ion-label>
          <ion-input formControlName="surname" type="text"  ></ion-input>
          <span class="error" *ngIf="isSubmitted && errorControl.surname.errors?.required">
            กรุณาระบุ นามสกุล
          </span>
        </ion-item>
        <ion-label style="padding-left: 15px;">แนบรูปภาพผู้ใช้ </ion-label>
         <input type="file" (change)="fileUpload_img($event)" id="file-input" style="position:absolute; top: -999999px" #fileIngimg>
          <button ion-button (click)="onClick_fileUpload()">Upload</button>
          <div style="padding-left: 15px;">
         <div  style="display: inline-block;" *ngFor="let img of picpreview" >
          <ion-img style="width: 100px; height: 100px;"  [src]="img.url"></ion-img>
          <ion-button (click)="delImg(img.id)">
            <ion-icon slot="icon-only" size="small" name="trash"></ion-icon>
          </ion-button>
         </div>
        </div>
        <ion-item>
          <ion-button  (click)="chData()" fill="outline">แก้ไขข้อมูลส่วนตัว</ion-button>
        </ion-item>
    </ion-list>
  </form>

  <form [formGroup]="ionicForm1" novalidate>
   <ion-list>
    <ion-list-header >
      <h3>เปลี่ยนรหัสผ่าน</h3>
    </ion-list-header>
   </ion-list>
   <ion-item>
    <ion-label class="showlabel" position="floating">รหัสผ่านเก่า</ion-label>
    <ion-input formControlName="oldpass" type="text"  ></ion-input>
    <span class="error" *ngIf="isSubmitted1 && errorControl1.oldpass.errors?.required">
      กรุณาระบุ รหัสผ่านเก่า
    </span>
  </ion-item>
    <ion-item>
      <ion-label class="showlabel" position="floating">รหัสผ่านใหม่</ion-label>
      <ion-input formControlName="newpass" type="password"  ></ion-input>
      <span class="error" *ngIf="isSubmitted1 && errorControl1.newpass.errors?.required">
        กรุณาระบุ รหัสผ่านใหม่
      </span>
    </ion-item>
    <ion-item>
      <ion-label class="showlabel" position="floating">ยืนยันรหัสผ่านใหม่</ion-label>
      <ion-input formControlName="comfirm_newpass" type="password"  ></ion-input>
      <span class="error" *ngIf="isSubmitted1 && errorControl1.comfirm_newpass.errors?.required">
        กรุณาระบุ ยืนยันรหัสผ่านใหม่
      </span>
      <span class="error" *ngIf="isSubmitted1 && ionicForm1.hasError('notSame')">
        กรุณาระบุให้ตรงกับรหัสผ่านใหม่
      </span>
    </ion-item>
    <ion-item>
      <ion-button  (click)="chPass()" fill="outline">แก้ไขรหัสผ่าน</ion-button>
    </ion-item>
  </form>
</ion-content>
