<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>งานส่งสินค้า ตามวิน</ion-title>
  </ion-toolbar>
</ion-header>
<form [formGroup]="ionicForm" novalidate>
  <ion-grid fixed>
    <ion-row>
      <ion-col>
        <ion-item>
          <ion-label class="showlabel" position="floating">ค้นหาวันที่นัดรับ</ion-label>
          <ion-input formControlName="txtserach" readonly [liIonic4Datepicker]="datePickerObj" type="text"></ion-input>
          <span class="error" *ngIf="isSubmitted && errorControl.txtserach.errors?.required">
            กรุณาระบุ คำค้นหา
          </span>
        </ion-item>
      </ion-col>
      <ion-col>
        <ion-button [disabled]="ionicForm.invalid" (click)="SearchData(0)" expand="block" shape="round">
          ค้นหาข้อมูล
        </ion-button>
        <ion-button (click)="loaddata(0)" expand="block" shape="round">
          ค้นหาที่รอส่งทั้งหมด
        </ion-button>
      </ion-col>
    </ion-row>
    <ion-row class="content_alert" *ngIf="ionicForm.controls['typeserch_id'].value !== '9'">
      <ion-col>
        พบข้อมูลที่ค้นหา จำนวน {{maxdatalimit}} ข้อมูล
      </ion-col>
    </ion-row>
  </ion-grid>
</form>
<ion-content>
  <div>
    <ion-searchbar placeholder="ค้นหา..." [(ngModel)]="filterTerm" animated="true"></ion-searchbar>
    <ion-card *ngFor="let c of data  | filter:filterTerm;index as i">
      <ion-row>
        <ion-col>
          <ion-item>
            <ion-label class="showlabel">วันที่นัดรับ {{ c.po_recivedate }}</ion-label>
            <ion-button fill="outline" slot="end" color="success" (click)="View(c.po_recivedate)">ดูรายละเอียด </ion-button>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-item>
            <ion-label class="showlabelheader"> รอส่ง {{ c.countid }} รายการ</ion-label>
          </ion-item>
        </ion-col>
        <ion-col>
          <ion-item>
            <ion-label class="showlabelheader"> ส่งสำเร็จ {{ c.countsus }} รายการ</ion-label>
          </ion-item>
        </ion-col>
      </ion-row>
    </ion-card>
  </div>
</ion-content>
