<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button  ></ion-menu-button>
    </ion-buttons>
    <ion-title>จัดการใบสั่งซื้อ โตโยต้า</ion-title>
  </ion-toolbar>
</ion-header>
<form [formGroup]="ionicForm" novalidate>
  <ion-grid fixed>
    <ion-row>
      <ion-col >
        <ion-item>
          <ion-label class="showlabel" position="floating" >ประเภทการค้นหา</ion-label>
          <ionic-selectable
            interface="floating"
            item-content
            formControlName="typeserch_id"
            itemValueField="id"
            itemTextField="typeserch"
            [items]="portssearch"
            [canSearch]="true" 
            closeButtonText="ยกเลิก"
            >
          </ionic-selectable>
          <span class="error" *ngIf="isSubmitted && errorControl.mtd_size_id.errors?.required">
            กรุณาระบุ ประเภทการค้นหา
          </span>
        </ion-item> 
      </ion-col>
      <ion-col>
        <ion-item>
          <ion-label class="showlabel" position="floating">คำค้นหา</ion-label>
          <ion-input *ngIf="myarraytxt.includes(this.ionicForm.controls.typeserch_id.value.id)" formControlName="txtserach" type="text"></ion-input>
          <ion-input *ngIf="myarraytxtdate.includes(this.ionicForm.controls.typeserch_id.value.id)" formControlName="txtserach" readonly [liIonic4Datepicker]="datePickerObj" type="text"></ion-input>
          <span class="error" *ngIf="isSubmitted && errorControl.txtserach.errors?.required">
            กรุณาระบุ คำค้นหา
          </span>
        </ion-item>
      </ion-col> 
      <ion-col>
          <ion-button [disabled]="ionicForm.invalid" (click)="SearchData(0)" expand="block"
          shape="round">
          ค้นหาข้อมูล
        </ion-button>
      </ion-col>
    </ion-row>
    <ion-row class="content_alert" *ngIf="maxpadding>=0">
      <ion-col>
        พบข้อมูลที่ค้นหา จำนวน  {{maxdatalimit}} ข้อมูล
      </ion-col>
    </ion-row>
  </ion-grid>
</form>
<ion-content>
  <div>
    <ion-searchbar placeholder="ค้นหา..." [(ngModel)]="filterTerm" animated="true"></ion-searchbar>
    <ion-card *ngFor="let c of data  | filter:filterTerm;index as i">
      <ion-item>
        <ion-row>
          <ion-col>
            <ion-label class="showlabelheader">{{ c.to_running }}</ion-label>
          </ion-col>
        </ion-row>
        <ion-button *ngIf="c.to_status !== '2'"  fill="outline" slot="end" color="warning" (click)="transport(c.id,c.to_running,c.to_status)">ส่งสินค้าลำดับที่ {{i+1}}</ion-button>
        <ion-button fill="outline" slot="end" color="success" (click)="View(c.id,c.to_running,c.to_status)">ดูรายละเอียดลำดับที่ {{i+1}}</ion-button>
      </ion-item>
      <ion-item>
        <ion-grid fixed>
          <ion-row>
            <ion-col>
              <ion-label> <u class="showlabel">วันที่สั่งซื้อ:</u> {{ c.to_date }}</ion-label>
            </ion-col>
            <ion-col>
              <ion-label><u class="showlabel">บริษัท:</u>  {{ c.company_name }}</ion-label>
            </ion-col>
            <ion-col>
              <ion-label><u class="showlabel">จำนวนสินค้า:</u>  {{ c.qty }}</ion-label>
            </ion-col>
            
          </ion-row>
          <ion-row>
            <ion-col>
              <ion-label> <u class="showlabel">ราคา:</u> {{ c.total| number }}</ion-label>
            </ion-col>
            <ion-col>
              <ion-label> <u class="showlabel">ภาษี:</u> {{ c.vat| number }}</ion-label>
            </ion-col>
            <ion-col>
              <ion-label> <u class="showlabel">ราคาทั้งหมด:</u> {{ c.sumtotal| number }}</ion-label>
            </ion-col>
          </ion-row>
          <div *ngIf="c.todetail.length > 0">
            <ion-row *ngFor="let cc of c.todetail;let ii = index;">
              <ion-col  size="auto"><u class="showlabel">สินค้า:</u> {{cc.product_name}}</ion-col>
              <ion-col  size="auto"><u class="showlabel">ขนาด:</u> {{cc.size}}</ion-col>
              <ion-col  size="auto"><u class="showlabel">ราคา:</u> {{cc.to_price| number}}</ion-col>
              <ion-col  size="auto"><u class="showlabel">จำนวน:</u> {{cc.to_qty| number}}</ion-col>
              <ion-col  size="auto"><u class="showlabel">ราคารวม:</u> {{cc.to_total| number}}</ion-col>
            </ion-row>
          </div>
          
          <ion-row>
            <ion-col> 
              <ion-label> 
                <u class="showlabel">สถานะ :</u> 
                <span   [ngClass]="{'postatus_alert': c.to_status==0,'status_ok1':c.to_status==1,'status_ok0': c.to_status==2 }" > {{ c.to_statustext }}</span>
              </ion-label> 
            </ion-col>
          </ion-row> 
        </ion-grid>
      </ion-item>
    </ion-card>
    <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
      <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Loading more data...">
      </ion-infinite-scroll-content>
    </ion-infinite-scroll>
  </div>

</ion-content>
