<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>มอบหมายงานตามใบสั่งซื้อ</ion-title>
    <ion-buttons slot="primary" *ngIf="dataallarray.length>0 || datasomearray.length>0">
      <ion-button (click)="submitForm()">
        <ion-icon slot="icon-only" src="./assets/icons/save.svg"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<form [formGroup]="ionicForm" novalidate>
  <ion-grid fixed>
    <ion-row>
      <ion-col>
        <ion-item>
          <ion-label class="showlabel" position="floating">ค้นหาวันที่นัดรับ</ion-label>
          <ion-input formControlName="txtserach" readonly [liIonic4Datepicker]="datePickerObj" type="text"></ion-input>
          <span class="error" *ngIf="isSubmitted && errorControl.txtserach.errors?.required">
            กรุณาระบุ คำค้นหา
          </span>
        </ion-item>
      </ion-col>
      <ion-col>
        <ion-button [disabled]="ionicForm.invalid" (click)="SearchData(0)" expand="block" shape="round">
          ค้นหาข้อมูล
        </ion-button>
      </ion-col>
    </ion-row>
    <ion-row class="content_alert" *ngIf="ionicForm.controls['typeserch_id'].value !== '9'"> 
      <ion-col>
        พบข้อมูลที่ค้นหา จำนวน {{maxdatalimit}} ข้อมูล
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-item>
          <ion-label class="showlabel" position="floating">วันที่มอบหมาย</ion-label>
          <ion-input formControlName="po_assigndate" readonly  type="text"></ion-input>
        </ion-item>
      </ion-col>
      <ion-col>
        <ion-item>
          <ion-label class="showlabel" position="floating">ครั้งที่ </ion-label>
          <ion-input formControlName="seq" readonly ></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
  </ion-grid>
</form>
<ion-content>
  <div>
    <ion-searchbar placeholder="ค้นหา..." [(ngModel)]="filterTerm" animated="true"></ion-searchbar>
    <ion-card *ngFor="let c of data  | filter:filterTerm;index as i">
      <ion-row>
        <ion-col>
          <ion-item *ngIf="c.countid != c.countsus">
            <ion-button fill="outline" color="secondary" (click)="Update_status(c.po_recivedate)">ประมวลสินค้าวัน {{c.po_recivedate}} ใหม่</ion-button>
          </ion-item>
         
        </ion-col>
        <ion-col>
          <ion-item>
            <ion-button fill="outline" color="warning" (click)="get_dataexcel(c.po_recivedate)">ออกรายงาน {{c.po_recivedate}} </ion-button>
          </ion-item>
         
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-item>
            <ion-checkbox color="dark" *ngIf="c.checksomedata === false" (click)="selectData(i,data[i],c.checkall)" [(ngModel)]="c.checkall" slot="start"   [disabled]="c.disable_checked"></ion-checkbox>
            <ion-checkbox color="tertiary" *ngIf="c.checksomedata === true" (click)="selectDatasome(i,data[i],c.checksomedata)"  [(ngModel)]="c.checksomedata" slot="start"   [disabled]="c.disable_checked"></ion-checkbox>   
            <!-- (click)="selectDatasome(i,data[i],c.checksomedata)" -->
            <label class="showlabelheader">วันที่นัดรับ</label>&nbsp;&nbsp;&nbsp;&nbsp; <label>{{ c.po_recivedate }} </label>  
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row> 
        <ion-col>
          <ion-item>
            <label class="showlabelheader"> จำนวนรายการทั้งหมด</label>&nbsp;&nbsp;&nbsp;&nbsp; <label>{{ c.countid }}</label> <label class="showlabelheader">&nbsp;&nbsp;&nbsp;&nbsp;รายการ</label>
          </ion-item>
        </ion-col>
        <ion-col>
          <ion-item>
            <label class="showlabel"> รายการที่มอบหมายได้</label>&nbsp;&nbsp;&nbsp;&nbsp; <label>{{ c.countsus }}</label> <label class="showlabel">&nbsp;&nbsp;&nbsp;&nbsp;รายการ</label>
          </ion-item>
        </ion-col>
        <ion-col>
          <ion-item>
            <ion-button fill="outline" color="success" (click)="View(c.po_recivedate)">ดูรายละเอียดวันที่นัดรับ {{c.po_recivedate}}</ion-button>
          </ion-item>
         
        </ion-col>
      </ion-row>
    </ion-card>
    <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
      <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Loading more data...">
      </ion-infinite-scroll-content>
    </ion-infinite-scroll>
  </div>
</ion-content>