<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>ข้อมูลการเปลี่ยน แก้ไข เสื้อวิน</ion-title>
    <ion-buttons slot="primary">
      <ion-button (click)="refreshForm()">
        <ion-icon slot="icon-only" src="./assets/icons/refresh.svg"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="primary">
      <ion-button (click)="submitForm()">
        <ion-icon slot="icon-only" src="./assets/icons/save.svg"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<form [formGroup]="ionicForm" novalidate>
  <ion-grid fixed>
    <ion-row>
      <ion-col>
        เลขที่ระบบ <input type="text" formControlName="id" disabled class="IDnoshowBG">
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-item>
          <ion-label class="showlabel" position="floating">รายการเปลี่ยน แก้ไข</ion-label>
          <ion-input formControlName="fix_name" type="text"></ion-input>
          <span class="error" *ngIf="isSubmitted && errorControl.fix_name.errors?.required">
            กรุณาระบุ รายการเปลี่ยน แก้ไข
          </span>
        </ion-item>
      </ion-col>
      <ion-col>
        <ion-item>
          <ion-label class="showlabel" position="floating">ราคา</ion-label>
          <ion-input formControlName="fix_price" type="number"></ion-input>
          <span class="error" *ngIf="isSubmitted && errorControl.fix_price.errors?.required">
            กรุณาระบุ ราคา
          </span>
        </ion-item>
      </ion-col>
      <ion-col>
        <ion-item>
          <ion-checkbox color="dark"  formControlName="cut_number"  slot="start"></ion-checkbox><ion-label class="showlabel" >ตัด Stock ตัวเลข</ion-label>
        </ion-item>
      </ion-col>
      <ion-col>
        <ion-item>
          <ion-checkbox color="dark"  formControlName="cut_green"  slot="start"></ion-checkbox><ion-label class="showlabel" >ตัด Stock ป้ายเขียว</ion-label>
        </ion-item>
      </ion-col>
      <ion-col>
        <ion-item>
          <ion-checkbox color="dark"  formControlName="cut_product"  slot="start"></ion-checkbox><ion-label class="showlabel" >ตัด Stock สินค้า</ion-label>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-item>
          <ion-checkbox color="dark"  formControlName="fix_cupon"  slot="start"></ion-checkbox><ion-label class="showlabel" >ติดตามงานปัก</ion-label>
        </ion-item>
      </ion-col>
      <ion-col>
        <ion-item>
          <ion-checkbox color="dark"  formControlName="fix_green"  slot="start"></ion-checkbox><ion-label class="showlabel" >ติดตามงานป้ายเขียว</ion-label>
        </ion-item>
      </ion-col>
      <ion-col>
        <ion-item>
          <ion-checkbox color="dark"  formControlName="fix_install"  slot="start"></ion-checkbox><ion-label class="showlabel" >ติดตามงานประกอบ</ion-label>
        </ion-item>
      </ion-col>
    </ion-row>
  </ion-grid>
</form>
<ion-content>
  <div scrollY="true" id="myFixZone">
    <ion-searchbar placeholder="ค้นหา..." [(ngModel)]="filterTerm" animated="true"></ion-searchbar>
    <ion-list>
      <ion-item-sliding *ngFor="let c of data  | filter:filterTerm" [ngClass]="c.highlight ? 'newdata': ''"
        (click)="selectData(c.id)">
        <ion-item>
          <ion-label>
            <ion-text color="primary">
              <h3>รายการ : {{ c.fix_name }} </h3>
              <h3>ราคา : {{ c.fix_price | number }}</h3>
            </ion-text>
          </ion-label>
          <ion-badge slot="end" color="success">{{ c.id }}</ion-badge>
        </ion-item>
        <ion-item-options>
          <ion-item-option  color="danger" (click)="cancelData(c.id)">
            <ion-icon slot="end" name="trash"></ion-icon>
            ลบ
          </ion-item-option>
        </ion-item-options>
      </ion-item-sliding>
    </ion-list>
    <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
      <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Loading more data...">
      </ion-infinite-scroll-content>
    </ion-infinite-scroll>
  </div>
</ion-content>
