<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>
      Ionic autocomplete | multiselect | typeahead
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <!-- <div class="ion-padding">
    <form [formGroup]="form">
      <ion-label>Select State</ion-label>
      <ng-select [items]="states | async" bindLabel="name" formControlName="name" notFoundText="No records found"
        (keyup)="getStatesName($event)">
      </ng-select>
    </form>

    <div class="multiSelect">
      <label>Multiselect with custom bindings</label>
      <ng-select [items]="cities2" bindLabel="name" bindValue="name" [multiple]="true" placeholder="Select cities"
        [(ngModel)]="selectedCityNames">
      </ng-select>
      <p>
        Selected cities: {{selectedCityNames}}
      </p>
      <hr />
    </div>
  </div> -->
</ion-content>