<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start" *ngIf="id === undefined">
      <ion-menu-button  ></ion-menu-button>
    </ion-buttons>
    <ion-buttons slot="start"  *ngIf="id !== undefined">
      <ion-button (click)="dismissModal()">
        <ion-icon slot="icon-only" name="arrow-back-outline"></ion-icon>
    </ion-button>
    </ion-buttons>
    <ion-title>ใบสั่งซื้อลูกค้า {{po_running}}</ion-title>
    <ion-buttons slot="primary" *ngIf="id === undefined && mode !== 'view'">
      <ion-button (click)="refreshForm()">
        <ion-icon slot="icon-only" src="./assets/icons/refresh.svg"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="primary"  *ngIf="id !== undefined && mode !== 'view'">
      <ion-button (click)="cancelData()">
        <ion-icon slot="icon-only" name="trash"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="primary" *ngIf="mode !== 'view'">
      <ion-button (click)="submitForm()">
        <ion-icon slot="icon-only" src="./assets/icons/save.svg"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="primary" *ngIf="modepayment === 'ok'">
      <ion-button (click)="submitForm_Payment()">
        <ion-icon slot="icon-only" src="./assets/icons/save.svg"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

 <ion-content>
  <div *ngIf="modepayment === 'ok' || modepayment === 'view' ">
    <form [formGroup]="ionicFormPayment" novalidate>
      <ion-grid >
        <div class="table1">
        <ion-row>
          <ion-col>การรับสินค้า</ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-item>
              <ion-label class="showlabel" position="floating">เงินที่ต้องชำระ</ion-label>
              <ion-input formControlName="moneypay" type="text" readonly></ion-input>
            </ion-item>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col >
            <ion-item>
              <ion-label class="showlabel" position="floating" >วิธีการรับเงิน</ion-label>
              <ionic-selectable
                interface="floating"
                item-content
                formControlName="typepayment"
                itemValueField="id"
                itemTextField="typeserch"
                [items]="ports_payment"
                [canSearch]="true" 
                closeButtonText="ยกเลิก"
                (onChange)="portChange_payment($event)"
                >
              </ionic-selectable>
              <span class="error" *ngIf="isSubmitted && errorControl_Payment.typepayment.errors?.required">
                กรุณาระบุ วิธีการรับเงิน
              </span>
            </ion-item>
          </ion-col>
        </ion-row>
        <ion-row *ngIf="paymenttype === 0">
          <ion-col>
            <ion-item>
              <ion-label class="showlabel" position="floating">รับเงิน</ion-label>
              <ion-input formControlName="cashmoney_0" type="number"  (keyup)="cul_cashmoney_0()" ></ion-input>
              <span class="error" *ngIf="isSubmitted && errorControl_Payment.cashmoney_0.errors?.required">
                กรุณาระบุ รับเงิน
              </span>
            </ion-item>
          </ion-col>
          <ion-col>
            <ion-item>
              <ion-label class="showlabel" position="floating">เงินทอน</ion-label>
              <ion-input formControlName="change_0" type="text" readonly></ion-input>
              <span class="error" *ngIf="isSubmitted && errorControl_Payment.change_0.errors?.min">
                เงินทอน ไม่ควรเป็นค่าติดลบ
              </span>
            </ion-item>
          </ion-col>
        </ion-row>
        <div *ngIf="paymenttype === 1">
          <ion-row *ngIf="showrowpaymenttype1 === true">
            <ion-col>
               <ion-img id="img2" [src]="src"></ion-img>
           </ion-col>
         </ion-row>
         <ion-row>
          <ion-col>
            <p>แนบสลิปการโอน 
              <input type="file" (change)="fileUpload_imgpayment($event)" id="file-input" accept="image/x-png,image/jpeg"  style="position:absolute; top: -999999px" #fileIngimg1>
              <button ion-button (click)="fileUpload_payment()">Upload</button>
              <div>
             <div  style="display: inline-block;" *ngFor="let img of picpreview" >
              <ion-img style="width: 100px; height: 100px;"  [src]="img.url"></ion-img>
              <ion-button (click)="delImg_payment(img.id)">
                <ion-icon slot="icon-only" size="small" name="trash"></ion-icon>
              </ion-button>
             </div>
            </div>
          <p>
            <span class="error" *ngIf="isSubmitted && errorControl_Payment.picresizbase64List.errors?.required">
              กรุณาแนบ สลิปการโอน
            </span>
          </ion-col>
         </ion-row>
        </div>
        
        <ion-row *ngIf="paymenttype === 2">
          <ion-col>
            <ion-item>
              <ion-label class="showlabel" position="floating">เลข EMS</ion-label>
              <ion-input formControlName="ems_2" type="text"></ion-input>
              <span class="error" *ngIf="isSubmitted && errorControl_Payment.ems_2.errors?.required">
                กรุณาระบุ เลข EMS
              </span>
            </ion-item>
          </ion-col>
        </ion-row>
        <ion-row *ngIf="paymenttype === 3">
          <ion-col>
            <ion-item>
              <ion-label class="showlabel" position="floating">สาเหตุที่ยกเลิก</ion-label>
              <ion-input formControlName="payment_cancel_3" type="text"></ion-input>
              <span class="error" *ngIf="isSubmitted && errorControl_Payment.payment_cancel_3.errors?.required">
                กรุณาระบุ สาเหตุที่ยกเลิก
              </span>
            </ion-item>
          </ion-col>
        </ion-row>
        <ion-row *ngIf="paymenttype === 4">
          <ion-col>
            <ion-item>
              <ion-label class="showlabel" position="floating">ปัญหา</ion-label>
              <ion-input formControlName="problem_cause_4" type="text"></ion-input>
              <span class="error" *ngIf="isSubmitted && errorControl_Payment.problem_cause_4.errors?.required">
                กรุณาระบุ ปัญหา
              </span>
            </ion-item>
          </ion-col>
        </ion-row>
        </div>
      </ion-grid>
    </form>
  </div>
  <form [formGroup]="ionicForm" novalidate>
    <ion-grid >
      <div class="table1">
      <ion-row>
        <ion-col >
          <ion-item>
            <ion-label class="showlabel" position="floating">วันที่สั่งซื้อ</ion-label>
            <!-- <ion-datetime formControlName="po_date" displayFormat="DD/MM/YYYY" ></ion-datetime> -->
            <ion-input readonly [liIonic4Datepicker]="datePickerObj" type="text" formControlName="po_date"></ion-input>
            <span class="error" *ngIf="isSubmitted && errorControl.po_date.errors?.required">
              กรุณาระบุ วันที่สั่งซื้อ
            </span>
          </ion-item>
        </ion-col>
        <ion-col >
          <ion-item>
            <ion-label class="showlabel" position="floating">ผู้ขาย</ion-label>
            <ionic-selectable interface="floating" item-content formControlName="mtd_user_id" itemValueField="id"
              itemTextField="name" [items]="ports_sale" [canSearch]="true" closeButtonText="ยกเลิก">
            </ionic-selectable>
            <span class="error" *ngIf="isSubmitted && errorControl.mtd_user_id.errors?.required">
              กรุณาระบุ ผู้ขาย
            </span>
          </ion-item>
        </ion-col>
        <ion-col>
          <ion-item>
            <ion-label class="showlabel" position="floating">ชื่อวิน</ion-label>
            <ion-input formControlName="po_namewin" type="text"></ion-input>
            <span class="error" *ngIf="isSubmitted && errorControl.po_namewin.errors?.required">
              กรุณาระบุ ชื่อวิน
            </span> 
          </ion-item>
        </ion-col>
        <ion-col > 
          <ion-item>
            <ion-label class="showlabel" position="floating">เขต</ion-label>
            <ionic-selectable interface="floating" item-content formControlName="mtd_area_id" itemValueField="id"
              itemTextField="area_name" [items]="ports_area" [canSearch]="true" closeButtonText="ยกเลิก">
            </ionic-selectable>
            <span class="error" *ngIf="isSubmitted && errorControl.mtd_area_id.errors?.required">
              กรุณาระบุ เขต
            </span>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-item>
            <ion-label class="showlabel" position="floating">ประเภทลูกค้า</ion-label>
            <ionic-selectable interface="floating" item-content formControlName="customer_type_id" itemValueField="id"
              itemTextField="type" [items]="portscustomertype" [canSearch]="true" closeButtonText="ยกเลิก" (onChange)="portChangeCus($event)">
            </ionic-selectable>
            <span class="error" *ngIf="isSubmitted && errorControl.customer_type_id.errors?.required">
              กรุณาระบุ ประเภทลูกค้า
            </span>
          </ion-item>
        </ion-col>
      
        <ion-col *ngIf="cus_type==0">
          <ion-item>
            <ion-label class="showlabel" position="floating">ชื่อลูกค้า</ion-label>
            <ion-input formControlName="po_customer" type="text"></ion-input>
            <span class="error" *ngIf="isSubmitted && errorControl.po_customer.errors?.required">
              กรุณาระบุ ชื่อลูกค้า
            </span>
          </ion-item>
        </ion-col>
        <ion-col *ngIf="cus_type==0">
          <ion-item>
            <ion-label class="showlabel" position="floating">เบอร์ลูกค้า</ion-label>
            <ion-input formControlName="po_customer_tel" type="text"></ion-input>
            <span class="error" *ngIf="isSubmitted && errorControl.po_customer_tel.errors?.required">
              กรุณาระบุ เบอร์ลูกค้า
            </span>
          </ion-item>
        </ion-col>
        <ion-col *ngIf="cus_type==1">
          <ion-item>
            <ion-label class="showlabel" position="floating">ลูกค้าที่เป็นสมาชิก</ion-label>
            <ionic-selectable interface="floating" item-content formControlName="mtd_member_id" itemValueField="id"
              itemTextField="member_name" [items]="ports_member" [canSearch]="true" closeButtonText="ยกเลิก" (onChange)="portChange_member($event)">
              <ng-template ionicSelectableItemTemplate let-port="item" let-isPortSelected="isItemSelected">
                {{port.member_name}} {{port.member_surname}}
              </ng-template>
            </ionic-selectable>
            <span class="error" *ngIf="isSubmitted && errorControl.mtd_member_id.errors?.required">
              กรุณาระบุ ลูกค้าที่เป็นสมาชิก
            </span>
          </ion-item>
        </ion-col>
        <ion-col >
          <ion-item>
            <ion-label class="showlabel" position="floating">วันที่นัดรับ</ion-label>
            <ion-input readonly [liIonic4Datepicker]="datePickerObj" type="text" formControlName="po_recivedate"></ion-input>
            <span class="error" *ngIf="isSubmitted && errorControl.po_recivedate.errors?.required">
              กรุณาระบุ วันที่นัดรับ
            </span>
          </ion-item>
          </ion-col> 
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-item>
            <ion-label class="showlabel" position="floating">เงื่อนไขป้ายเขียว</ion-label>
            <ion-input formControlName="namewin_comment" type="text"></ion-input>
          </ion-item>
        </ion-col>
        <ion-col>
          <ion-item>
            <ion-label class="showlabel" position="floating">ค่ามัดจำ</ion-label>
            <ion-input formControlName="po_deposit" type="number"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col >
          <ion-item>
            <ion-label class="showlabel" position="floating">การส่งสินค้า</ion-label>
            <ionic-selectable interface="floating" item-content formControlName="mtd_shipping_id" itemValueField="id"
              itemTextField="shipping_desc" [items]="ports_shipping" [canSearch]="true" closeButtonText="ยกเลิก" (onChange)="portChange($event)">
            </ionic-selectable>
            <span class="error" *ngIf="isSubmitted && errorControl.mtd_shipping_id.errors?.required">
              กรุณาระบุ การส่งสินค้า
            </span>
          </ion-item>
        </ion-col>
        <ion-col>
          <ion-item>
            <ion-label class="showlabel" position="floating">ราคาค่าส่ง</ion-label>
            <ion-input formControlName="po_shipping_price" type="number" [(ngModel)]="po_shipping_price" (change)="cul_total()"></ion-input>
            <span class="error" *ngIf="isSubmitted && errorControl.po_shipping_price.errors?.required">
              กรุณาระบุ ราคาค่าส่ง
            </span>
          </ion-item>
        </ion-col>
        <ion-col> 
          <ion-item>
            <ion-label class="showlabel" position="floating">สถานที่ส่ง (บ้านเลขที่ ซอย ถนน)</ion-label>
            <ion-input formControlName="po_address" type="text"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row> 
        <ion-col>
          <ion-label>
            <ion-auto-complete class="showlabel" [labelPosition]="'floating'" [label]="'สถานที่ส่ง ( แขวง/ตำบล เขต/อำเภอ จังหวัด รหัสไปรษณีย์)'" formControlName="po_address_place"
            [dataProvider]="placeSv"></ion-auto-complete>
          </ion-label>
        </ion-col>
       
      </ion-row>
      </div>
      <p></p>
      <div class="table1">
        <ion-row>
          <ion-col> 
            <ion-item>
            <ion-label class="showlabelmain" position="floating">เลือกสินค้า</ion-label> 
           <ionic-selectable item-content itemValueField="id" itemTextField="name" [isMultiple]="true" [canSearch]="true" [items]="ports_productmain" (onChange)="portChange_Product($event)">
            <ng-template ionicSelectableItemTemplate let-port="item" let-isPortSelected="isItemSelected">
              <div [ngClass]="{'qtychk': inqtyerror(port.qty,port.qty_remain)}" >{{port.name}} remain: {{port.qty_remain}} qty: {{port.qty}}</div>
            </ng-template>
          </ionic-selectable>
          <span class="error" *ngIf="isSubmitted && tmpproduct.length===0">
            กรุณาเลือก สินค้า
          </span>
          </ion-item>
        </ion-col>
        </ion-row>
         
        <ion-row  class="table1_header" *ngIf="tmpproduct.length>0">
          <ion-col size="0.5">#</ion-col>
          <ion-col size="2">สินค้า/ขนาด/ราคา</ion-col>
          <ion-col size="2">ส่วนลด</ion-col>
          <ion-col size="2">ราคารวม</ion-col>
          <ion-col size="3">หมายเหตุ</ion-col>
        </ion-row>
        <!-- <ion-row class="table1_detail" *ngFor="let c of tmpproduct;let i = index;">  ng-class-even="'blue'" ng-class-odd="'green'" -->
          <ion-row  *ngFor="let c of tmpproduct;let i = index; " [ngClass]="(i % 2 == 0) ? 'table1_detail_odd' : 'table1_detail_even'">  
          <ion-col  size="0.5">{{i+1}}</ion-col>
          <ion-col size="2">{{c.name}}</ion-col>
          <!-- <ion-col size="2">{{c.size}}/{{c.price}}</ion-col> -->
          <ion-col size="2"> 
          <ion-input  class="showborder" type="number"  [(ngModel)]="discount[c.id]" [ngModelOptions]="{standalone: true}" (change)="Discount(c.id,discount[c.id])"></ion-input> 
          </ion-col>
          <ion-col size="2">{{c.total|number}}</ion-col>
          <ion-col size="3"> 
            <ion-input  class="showborder" type="text"  [(ngModel)]="commentproduct[c.id]" [ngModelOptions]="{standalone: true}" (change)="Commentproduct(c.id,commentproduct[c.id])"></ion-input> 
          </ion-col>
            <ion-col size="2.5" > 
              <div *ngIf="mode !== 'view'">
                <input type="file"  (change)="fileUpload_img($event)" id="file-input" accept="image/x-png,image/jpeg" style="position:absolute; top: -999999px" #fileIngimg> 
              <ion-button (click)="onClick_fileUpload(c.id)">
                <ion-icon slot="icon-only" class="iconSize" name="images"></ion-icon>
              </ion-button>
              <ion-button (click)="Addnumber(i+1,c.id)">
                <ion-icon slot="icon-only" class="iconSize" name="add"></ion-icon>
              </ion-button>
              <ion-button (click)="Deltmpproduct(c.id,c.id)">
                <ion-icon slot="icon-only" class="iconSize" name="trash"></ion-icon>
              </ion-button>
              </div>
              
            </ion-col>
             <ion-col size="12" *ngIf="isSubmitted && discount[i]>c.total">
            <ion-row >
              <span class="error" >
               สินค้าลำดับที่ {{i+1}}  มีส่วนลดมากกว่าราคาสินค้า กรุณาตรวจสอบข้อมูล
              </span>
            </ion-row>
          </ion-col>
            
            <ion-col size="12" *ngIf="c.numbervalue !== null">
              <div>
              <ion-row *ngIf="c.numbervalue !== null">
                <ion-col  size="auto">เลขเสื้อเบอร์ {{c.numbervalue.podetail_number}}</ion-col>
                <ion-col  size="auto">ด้านหน้าสี {{c.numbervalue.color_front}}</ion-col>
                <ion-col  size="auto">ด้านหลังสี {{c.numbervalue.color_back}}</ion-col>
              </ion-row>
            </div>
            </ion-col>
            <ion-col size="12" *ngIf="c.productetc !== null">
              <div>
                <ion-row>
                  <ion-text color="primary">
                   สินค้าอื่นๆ ของลำดับที่ {{i+1}}
                  </ion-text>
                </ion-row>
              <ion-row *ngFor="let cc of c.productetc.tmpproductetc;let ii = index;">
                <ion-col size="1"> {{ii+1}}</ion-col> 
                <ion-col size="2"> {{cc.name}}</ion-col>
                <ion-col size="2"> {{cc.discount}}</ion-col>
                <ion-col size="2"> {{cc.total}}</ion-col> 
                <ion-col size="3"> {{cc.commentproduct}}</ion-col>
              </ion-row>
              </div>
            </ion-col>
            <ion-col size="12" *ngIf="c.picresizbase64List.length > 0">
              <div>
                <ion-row>
                  <ion-text color="primary">
                  ภาพประกอบ ของลำดับที่ {{i+1}}
                  </ion-text>
                </ion-row>
                <div  >
                  <div  style="display: inline-block;" *ngFor="let img of c.picresizbase64List" >
                   <ion-img style="width: 100px; height: 100px;"  [src]="img.urlresize"></ion-img>
                   <ion-button *ngIf="img.detail_id !== undefined" (click)="showImg(img.detail_id,img.name)">
                    <ion-icon slot="icon-only" size="small" name="search"></ion-icon>
                  </ion-button>
                   <ion-button (click)="delImg(img.tmpproductid,img.indexpic)">
                     <ion-icon slot="icon-only" size="small" name="trash"></ion-icon>
                   </ion-button>
                  </div>
                 </div>
              </div>
            </ion-col>
        </ion-row> 
        <ion-row class="table1_footer" *ngIf="tmpproduct.length>0">
          <!-- <ion-col  size="1"></ion-col> -->
          <ion-col  size="3">รวมราคาสินค้า</ion-col>
          <ion-col  size="2">{{allDiscount|number}}</ion-col>
          <ion-col  size="2">{{alltotalproduct|number}}</ion-col>
        </ion-row>
        <ion-row class="table1_footer" *ngIf="tmpproduct.length>0">
          <ion-col  size="3">รวมค่าขนส่ง</ion-col>
          <ion-col  size="2"></ion-col>
          <ion-col  size="2">{{po_shipping_price|number}}</ion-col>
        </ion-row>
        <ion-row class="table1_footer" *ngIf="tmpproduct.length>0">
          <ion-col  size="3">รวมราคาทั้งหมด</ion-col>
          <ion-col  size="2"></ion-col>
          <ion-col  size="2">{{alltotal|number}}</ion-col>
        </ion-row>
        <ion-row class="table1_footer" *ngIf="tmpproduct.length>0">
          <ion-col  size="3">หักค่ามัดจำ</ion-col>
          <ion-col  size="2"></ion-col>
          <ion-col  size="2">{{ionicForm.controls['po_deposit'].value|number}}</ion-col>
        </ion-row>
        <ion-row class="table1_footer" *ngIf="tmpproduct.length>0">
          <ion-col  size="3">รวมสุทธิ</ion-col>
          <ion-col  size="2"></ion-col>
          <ion-col  size="2">{{alltotal-ionicForm.controls['po_deposit'].value|number}}</ion-col>
        </ion-row>
      </div>
      
     
    </ion-grid>

  </form>
</ion-content>
