.sublist{
    padding-left: 20px!important;
}

.sublistchk{
    padding-left: 20px!important;
    color: #ec1628;
}

.table1{
    border: 3px ridge  #f7e0a3;
    padding-left: 10px;
    padding-right: 10px;
}

.table1_header{
    background-color: #4c8492;
    color:whitesmoke;
    padding: -2px -2px -2px -2px;
    text-align: center;
    font-size: 20px;
}

.table1_detail{
    border: 1px dashed  #4c8492;
}

.table1_detail ion-col{
    border: 1px dashed  #4c8492;
    background-color: #f0eec8;
    font-weight: bold;
    text-align: center;
  }  

  .showborder{
    border:inset 2px #EBE9ED;
    background-color: #b2f0c6;
    padding-left: 10px;
    // border-right:solid 1px #CCCCCC;
    // border-bottom:solid 1px #CCCCCC;
    // align-content: center;
}

.qtychk{
    color: #ec1628;
}

.center {
    margin: auto;
    width: 50%;
    border: 3px solid green;
    padding: 10px;
  }