<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="dismissModal()">
        <ion-icon slot="icon-only" name="arrow-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>เพิ่มรายละเอียดสินค้าลำดับที่ {{index}}</ion-title>
    <ion-buttons slot="end">
      <!-- <ion-button (click)="dismissModal()">
        <ion-icon slot="icon-only" src="./assets/icons/close.svg"></ion-icon>
      </ion-button> -->
      <ion-buttons slot="primary">
        <ion-button (click)="submitForm()">
          <ion-icon slot="icon-only" src="./assets/icons/save.svg"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-item *ngIf="mode !== 'fix'">
  <ion-label class="showlabel" position="floating" >หมวด</ion-label>
  <ionic-selectable
    interface="floating"
    item-content
    itemValueField="id"
    itemTextField="typecategory"
    [items]="portscategory"
    [canSearch]="true" 
    closeButtonText="ยกเลิก"
    (onChange)="portChange_category($event)"
    >
  </ionic-selectable>
</ion-item>
<ion-content class="ion-padding">
  <form [formGroup]="ionicForm" novalidate *ngIf="portscategoryid==='0'">
    <ion-grid fixed>
      <ion-row>
        <ion-col>
          กรอกตัวเลข
          ระบุสีข้างหน้า
          ระบุสีข้างหลัง
        </ion-col>
      </ion-row>
      <ion-row >
        <ion-col>
          <ion-item>
            <ion-label class="showlabel" position="floating">ตัวเลข</ion-label>
            <ion-input formControlName="podetail_number" type="text"></ion-input>
            <span class="error" *ngIf="isSubmitted && errorControl.podetail_number.errors?.required">
              กรุณาระบุ ตัวเลข
            </span>
            <span class="error" *ngIf="isSubmitted && errorControl.podetail_number.errors?.pattern">
              กรุณาใส่เฉพาะตัวเลข
            </span>
          </ion-item>
        </ion-col>
        <ion-col>
          <ion-button [disabled]="ionicForm.controls['podetail_number'].invalid" (click)="ChkNumber()" expand="block"
            shape="round">
            ยืนยันตัวเลข
          </ion-button>
        </ion-col>
      </ion-row>
      <ion-row *ngIf="ports_front.length>0">
        <ion-col class="table1">
        <ion-list>
          <ion-radio-group (ionChange)="radioGroupChange_front($event)">
            <ion-list-header>
              <ion-label class="table1_header">
                ตัวเลขด้านหน้า
              </ion-label>
            </ion-list-header>
            <span class="error" *ngIf="isSubmitted && errorControl.mtd_numberfront_id.errors?.required">
              กรุณาเลือก ตัวเลขด้านหน้า
            </span>
            <ion-item>
              <ion-searchbar placeholder="ค้นหา..." [(ngModel)]="filterfront" [ngModelOptions]="{standalone: true}" animated="true"></ion-searchbar>
            </ion-item>
            <ion-list class="table1_detail" lines="none" *ngFor="let c of ports_front | mySearch:filterfront:'color' ;let i = index;" >
              <ion-item>
                <ion-radio slot="start" value="{{c.id}}"></ion-radio>
                <ion-label>สี{{ c.color }}</ion-label>
              </ion-item>
                <ion-list  *ngFor="let cc of ports_front[i].front_number;">
                  <ion-label  [ngClass]="(inqtyerror(cc.qty,cc.qty_remain))?'sublistchk':'sublist'"> เลข {{ cc.number }} เหลือ {{cc.qty}}/{{cc.qty_remain}}</ion-label>  
                </ion-list>
            </ion-list>
          </ion-radio-group>
        </ion-list>
        </ion-col>
        <ion-col class="table1">
          <ion-list>
            <ion-radio-group (ionChange)="radioGroupChange_back($event)">
              <ion-list-header>
                <ion-label class="table1_header">
                  ตัวเลขด้านหลัง
                </ion-label>
              </ion-list-header>
              <span class="error" *ngIf="isSubmitted && errorControl.mtd_numberback_id.errors?.required">
                กรุณาเลือก ตัวเลขด้านหลัง
              </span>
              <ion-item>
                <ion-searchbar placeholder="ค้นหา..." [(ngModel)]="filterback" [ngModelOptions]="{standalone: true}" animated="true"></ion-searchbar>
              </ion-item>
              <ion-list class="table1_detail"  lines="none" *ngFor="let c of ports_front| mySearch:filterback:'color';let i = index;">
                <ion-item>
                  <ion-radio slot="start" value="{{c.id}}"></ion-radio>
                  <ion-label>สี{{ c.color }}</ion-label>
                </ion-item>
                <ion-list *ngFor="let cc of ports_front[i].back_number;">
                  <ion-label  [ngClass]="(inqtyerror(cc.qty,cc.qty_remain))?'sublistchk':'sublist'"> เลข {{ cc.number }} เหลือ {{cc.qty}}/{{cc.qty_remain}}</ion-label> 
                </ion-list>
              </ion-list>
            </ion-radio-group>
          </ion-list>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>

  <form [formGroup]="ionicForm1" novalidate *ngIf="portscategoryid==='1'">
    <ion-grid fixed>
      <ion-row>
        <ion-col >
          <ion-item>
            <ion-label class="showlabelmain" position="floating">เลือกสินค้า</ion-label>
           <ionic-selectable item-content itemValueField="id" itemTextField="name" [isMultiple]="true" [canSearch]="true" [items]="ports_productmain" (onChange)="portChange_Product($event)">
            <ng-template ionicSelectableItemTemplate let-port="item" let-isPortSelected="isItemSelected">
              <div [ngClass]="{'qtychk': inqtyerror(port.qty,port.qty_remain)}" >{{port.name}} remain: {{port.qty_remain}} qty: {{port.qty}}</div>
            </ng-template>
          </ionic-selectable>
          <span class="error" *ngIf="isSubmitted1 && tmpproduct.length===0">
            กรุณาเลือก สินค้า
          </span>
          </ion-item>
        </ion-col>
      </ion-row>
        <ion-row  class="table1_header" *ngIf="tmpproduct.length>0">
          <ion-col >ลำดับ</ion-col>
          <ion-col >สินค้า</ion-col>
          <ion-col >ส่วนลด</ion-col>
          <ion-col >ราคา</ion-col>
          <ion-col >หมายเหตุ</ion-col>
          <ion-col ></ion-col>
        </ion-row>
        <ion-row class="table1_detail" *ngFor="let c of tmpproduct;let i = index;">
          <ion-col size="2">{{i+1}}</ion-col>
          <ion-col size="2">{{c.name}}</ion-col>
          <ion-col > 
          <ion-input size="2" class="showborder" type="number"  [(ngModel)]="discount[i]" [ngModelOptions]="{standalone: true}" (change)="Discount(c.id,discount[i])"></ion-input> 
          </ion-col>
          <ion-col >{{c.total|number}}</ion-col>
          <ion-col > 
            <ion-input  class="showborder" type="text"  [(ngModel)]="commentproduct[i]" [ngModelOptions]="{standalone: true}" (change)="Commentproduct(c.id,commentproduct[i])"></ion-input> 
          </ion-col>
          <ion-col > 
            <ion-button (click)="Deltmpproduct(c.id,i)">
              <ion-icon slot="icon-only" class="iconSize" name="trash"></ion-icon>
            </ion-button>

          </ion-col>
          <ion-col size="12" *ngIf="isSubmitted && discount[i]>c.total">
            <ion-row >
              <span class="error" >
               สินค้าลำดับที่ {{i+1}}  มีส่วนลดมากกว่าราคาสินค้า กรุณาตรวจสอบข้อมูล
              </span>
            </ion-row>
          </ion-col>
        </ion-row> 
    </ion-grid>
  </form>
</ion-content>