.sublist{
    padding-left: 20px!important;
}

.sublistchk{
    padding-left: 20px!important;
    color: #ec1628;
}

.table1{
    border: 3px ridge  #f7e0a3;
    padding-left: 10px;
    padding-right: 10px;
}

.table1_header{
    background-color: #4c8492;
    color:whitesmoke;
    padding: -2px -2px -2px -2px;
    text-align: center;
    font-size: 20px;
}

.table1_detail{
    border: 1px dashed  #4c8492;
}