<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
     </ion-buttons>
    <ion-title>เพิ่มสินค้า </ion-title>
        <ion-buttons slot="primary">
      <ion-button (click)="refreshForm()">
        <ion-icon slot="icon-only" src="./assets/icons/refresh.svg"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="primary">
      <ion-button (click)="submitForm()">
        <ion-icon slot="icon-only" src="./assets/icons/save.svg"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

</ion-content>
