<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
      </ion-buttons>
    <ion-title>รายงานยอดผลิต</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="ionicForm" novalidate>
    <ion-row>
      <ion-col>
        <ion-item>
          <ion-label class="showlabel" position="floating">ประเภท</ion-label>
          <ion-select interface="popover" formControlName="rp_type"  >
            <ion-select-option value="0">งานปักตัวเลข</ion-select-option>
            <ion-select-option value="1">งานปักป้ายเขียว</ion-select-option>
            <ion-select-option value="2">งานประกอบ</ion-select-option>
          </ion-select>
          <span class="error" *ngIf="isSubmitted && errorControl.rp_type.errors?.required">
            กรุณาระบุ ประเภท
          </span> 
        </ion-item>
      </ion-col>
      <ion-col>
        <ion-item>
          <ion-label class="showlabel" position="floating">ช่วงเวลา</ion-label>
          <ion-select interface="popover" formControlName="rp_type1"  (ionChange)="Checkvalid($event.detail.value)"  >
            <ion-select-option value="0">วัน</ion-select-option>
            <ion-select-option value="1">เดือน</ion-select-option>
            <ion-select-option value="2">ปี</ion-select-option>
          </ion-select>
          <span class="error" *ngIf="isSubmitted && errorControl.rp_type1.errors?.required">
            กรุณาระบุ ช่วงเวลา
          </span> 
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row *ngIf="ionicForm.controls.rp_type1.value == '0'">
      <ion-col>
        <ion-item> 
          <ion-label class="showlabel" position="floating">วันที่</ion-label>
          <ion-input  formControlName="txtdate" readonly [liIonic4Datepicker]="datePickerObj" type="text"></ion-input>
        </ion-item>
      </ion-col>
      <ion-col>
        <ion-item> 
          <ion-label class="showlabel" position="floating">ถึง วันที่</ion-label>
        <ion-input  [disabled]="ionicForm.controls.txtdate.invalid" formControlName="txtdate1" readonly [liIonic4Datepicker]="datePickerObj" type="text"></ion-input>
        </ion-item>
      </ion-col> 
    </ion-row>
    <ion-row *ngIf="ionicForm.controls.rp_type1.value == '1'">
      <ion-col>
        <ion-item>
          <ion-label class="showlabel" position="floating">เดือน</ion-label>
          <ion-select interface="popover" formControlName="txtmonth"  >
            <ion-select-option value="01">มกราคม</ion-select-option>
            <ion-select-option value="02">กุมภาพันธ์</ion-select-option>
            <ion-select-option value="03">มีนาคม</ion-select-option>
            <ion-select-option value="04">เมษายน</ion-select-option>
            <ion-select-option value="05">พฤษภาคม</ion-select-option>
            <ion-select-option value="06">มิถุนายน</ion-select-option>
            <ion-select-option value="07">กรกฏาคม</ion-select-option>
            <ion-select-option value="08">สิงหาคม</ion-select-option>
            <ion-select-option value="09">กันยายน</ion-select-option>
            <ion-select-option value="10">ตุลาคม</ion-select-option>
            <ion-select-option value="11">พฤศจิกายน</ion-select-option>
            <ion-select-option value="12">ธันวาคม</ion-select-option>
          </ion-select>
          <span class="error" *ngIf="isSubmitted && errorControl.txtmonth.errors?.required">
            กรุณาระบุ เดือน
          </span> 
        </ion-item>
      </ion-col>
      <ion-col>
        <ion-item>
          <ion-label class="showlabel" position="floating">ถึง เดือน</ion-label>
          <ion-select interface="popover" formControlName="txtmonth1"  >
            <ion-select-option value="01">มกราคม</ion-select-option>
            <ion-select-option value="02">กุมภาพันธ์</ion-select-option>
            <ion-select-option value="03">มีนาคม</ion-select-option>
            <ion-select-option value="04">เมษายน</ion-select-option>
            <ion-select-option value="05">พฤษภาคม</ion-select-option>
            <ion-select-option value="06">มิถุนายน</ion-select-option>
            <ion-select-option value="07">กรกฏาคม</ion-select-option>
            <ion-select-option value="08">สิงหาคม</ion-select-option>
            <ion-select-option value="09">กันยายน</ion-select-option>
            <ion-select-option value="10">ตุลาคม</ion-select-option>
            <ion-select-option value="11">พฤศจิกายน</ion-select-option>
            <ion-select-option value="12">ธันวาคม</ion-select-option>
          </ion-select>
          <span class="error" *ngIf="isSubmitted && errorControl.txtmonth1.errors?.required">
            กรุณาระบุ เดือน
          </span> 
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row *ngIf="ionicForm.controls.rp_type1.value == '2'">
      <ion-col>
        <ion-item >
          <ion-label class="showlabel">ปี :</ion-label>
          <ion-select interface="popover"  formControlName="txtyear"  >
             <ion-select-option *ngFor="let item of years" value="{{item}}">{{item}}</ion-select-option>
          </ion-select>
      </ion-item>
      </ion-col>
      <ion-col>
        <ion-item >
          <ion-label class="showlabel">ถึง ปี :</ion-label>
          <ion-select interface="popover"  formControlName="txtyear1"  >
             <ion-select-option *ngFor="let item of years" value="{{item}}">{{item}}</ion-select-option>
          </ion-select>
      </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-button [disabled]="ionicForm.invalid"  expand="block" shape="round">
        ออกรายงาน
      </ion-button>
      </ion-col>
    </ion-row>
  </form>
</ion-content>
